<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="images/x-icon" href="https://cdn-icons-png.flaticon.com/128/3631/3631163.png" />
  <link
      href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAq6urAP///wDWxP8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEREQAAAAABIiIiEAAAAAEjMzIQAAAAASMzMhAAABERIzMyEREBIiIjMzIiIhEjMzMzMzMyESMzMzMzMzIRIzMzMzMzMhEjMzMzMzMyESIiIzMyIiIQEREjMzIREQAAASMzMhAAAAABIzMyEAAAAAEiIiIQAAAAABEREQAAD4HwAA8A8AAPAPAADwDwAAgAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIABAADwDwAA8A8AAPAPAAD4HwAA"
      rel="icon"
      type="image/x-icon"
    />
    <title>{% block title %}City Hospital{% endblock title %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <main class="flex-shrink-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container px-5">
        
        <a class="navbar-brand" href="/">
          <img
          src="https://cdn2.iconfinder.com/data/icons/public-services-filledoutline/64/HOSPITAL-health_clinic-urban-buildings-medical-512.png"
          class="h-8 me-3" style="height: 35px !important; width: 35px !important;" alt="City Hospital Logo"/>
          City Hospital
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#service">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="#aboutus">About Us</a></li>
            <li class="nav-item" style="margin-right:150px;"><a class="nav-link" href="#contactus">Contact Us</a></li>
             <form action="/login"> 
              <button class="btn btn-outline-light" type="submit">Login</button>
              </form>

          </ul>
        </div>
      </div>
    </nav>
  </main>
  
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>E-WEB Services</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <link src="static/styles.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
  

    <header class="bg-dark py-5">
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
          <div class="col-lg-8 col-xl-7 col-xxl-6">
            <div class="my-5 text-center text-xl-start">
              <h1 class="display-5 fw-bolder text-white mb-1">Welcome To</h1>
              <h1 class="display-5 fw-bolder text-white mb-2">City Hospital</h1><br>
              <p class="lead fw-normal text-white-50 mb-4">Where advanced care meets compassion. Our state-of-the-art facility offers emergency services and specialized treatments with personalized attention. Count on our expert team to prioritize your health and guide you on your path to wellness with dedication and expertise.
              </p>
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                <form action="/login"> 
                  <button class="btn btn-primary btn-lg px-4 me-sm-3" type="submit">Get Started</button>
                  </form>
                <a class="btn btn-outline-light btn-lg px-4" href="/register">Create Account</a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
              src="https://static.vecteezy.com/system/resources/previews/020/811/014/original/medical-care-and-health-center-concept-city-hospital-building-with-ambulance-car-in-flat-design-patient-talking-to-doctor-at-entrance-ambulance-car-parked-at-hospital-free-vector.jpg" width="600" height="400" alt="City Hospital Image" /></div>
        </div>
      </div>
    </header>
   
    <section class="py-5" id="service">
      <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
          <div class="col-lg-8 col-xl-6">
            <div class="text-center">
              <h2 class="fw-bolder">Our Services</h2>
              <p class="lead fw-normal text-muted mb-5"> Explore comprehensive healthcare services at City Hospital designed to meet your needs. <br> Your destination for all of your Health problems.</p>
            </div>
          </div>
        </div>

        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/doctor-examining-patient-clinic-illustrated_23-2148856559.jpg?ga=GA1.1.694235604.1717086144&semt=sph" alt="Card image cap">
            <div class="card-body">
              <br>
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">OPD Dept.</div>
              <h5 class="card-title">OPD Dept.</h5>
              <p class="card-text">Tur outpatient department (OPD) offers expert consultations, diagnostic services, and personalized treatment plans tailored to your health needs. With a focus on efficiency and comfort, we ensure you receive quality care without the need for overnight stays.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/professional-surgeons-surrounding-patient-operation-table-flat-illustration_74855-14150.jpg?t=st=1719419326~exp=1719422926~hmac=9f12e2cf9ece0ea626ba603ceb40e87dd66e87d41a08068633a073fa9f66688a&w=900" alt="Card image cap">
            <div class="card-body">
              
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">Surgery Dept.</div>
              <h5 class="card-title">Surgery Dept.</h5>
              <p class="card-text">Our team of skilled surgeons utilizes state-of-the-art technology to deliver exceptional surgical outcomes across various specialties. From minimally invasive procedures to complex surgeries, we prioritize your safety and recovery.</p>
             
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://img.freepik.com/free-vector/chemistry-laboratory-concept_74855-6997.jpg?t=st=1719419440~exp=1719423040~hmac=76ece21e2a772240d7f6c54acfbbb746ccb76f618fb99c3cbe47920ff6d67517&w=996" alt="Card image cap">
            <div class="card-body">
              <br>
              <div class="badge bg-primary bg-gradient rounded-pill mb-2">Path/Radiology Labs</div>
              <h5 class="card-title">Pathology and Radiology Labs</h5>
              <p class="card-text">Utilizing advanced technology and expertise, we provide accurate and timely results to aid in your treatment journey. From comprehensive pathology evaluations to precise radiological imaging, trust our dedicated team to deliver reliable diagnostic insights.</p>

            </div>
          </div>
        </div>        
      </div>
    </section>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>



  <header class="py-5" id='aboutus'>
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xxl-9">
          <div class="text-center my-5">
            <h1 class="fw-bolder mb-3">Our mission is simple yet profound: To enhance lives through exceptional healthcare.</h1><br>
            <p class="lead fw-normal text-muted mb-4">With a commitment to compassion, innovation, and excellence, we strive to provide every patient with personalized care and comprehensive medical solutions. Our dedicated team of healthcare professionals works tirelessly to ensure your well-being, delivering advanced treatments and compassionate support.<br>Trust City Hospital to be your partner in health, guiding you toward a healthier and brighter future.</p>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  </main>
  <section class="py-5 bg-light" id='contactus'>
    <div class="container px-5 my-5">
      <div class="text-center">
        <h2 class="fw-bolder">Contact Us</h2>
        <p class="lead fw-normal text-muted mb-5">Get in Touch with us.</p>
      </div>
      <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
        <div class="col mb-3 mb-3 mb-xl-0">
          <div class="text-center">
            <address>City Hospital<br>
              Plot XYZ, Road ABC,<br>
              Sector 99, New Delhi, Delhi-110999 <br>
              Phone: <a href="tel:+91 9015291218">+91 9013962847</a><br>
              Email: <a href="mailto:asif16907@gmail.com">asif16907@gmail.com</a>
          </address>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto">
          <div class="small m-0 text-white">Copyright &copy; City Hospital 2024</div>
        </div>
        <div class="col-auto">
          <p class="small m-0 text-white">Made By- <a class="link-light" href="mailto:asif16907@gmail.com">Mohd Asif Ansari</a></p>
        </div>
      </div>
    </div>
  </footer>
  
</body>
</html>