{% extends "dashboard/patient_view/layout.html" %} {% block content %}
<div class="sm:ml-64">
    <div class="p-5 rounded-lg dark:border-gray-700 mt-14 dark:bg-grey-900">
        <h2
        class="mb-4 text-4xl leading-none tracking-tight text-gray-900 md:text-5xl lg:text-5xl text-center dark:text-black">
            {{type}} Appointments
        </h2>


        {% if messages %}
            {% for message in messages %}
        <div id="alert-3"
            class="flex items-center p-4 mb-4 text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
            role="alert">
            <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                    d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
            </svg>
            <span class="sr-only">Info</span>
            <div class="ms-3 text-sm font-medium">
                {{ message }}
            </div>
            <button type="button"
                class="ms-auto -mx-1.5 -my-1.5 bg-green-50 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"
                data-dismiss-target="#alert-3" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
            </button>
            {% endfor %}
        </div>
        {% endif %}

        {% if appointments %}

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        
                        <th scope="col" class="px-6 py-3">Patient's Name</th>
                        <th scope="col" class="px-6 py-3">Doctor's Name</th>
                        <th scope="col" class="px-6 py-3">Doctor's Speciality</th>
                        <th scope="col" class="px-6 py-3">Date</th>
                        <th scope="col" class="px-6 py-3">Time</th>
                        <th scope="col" class="px-6 py-3">Patient's Medical History</th>
                        <th scope="col" class="px-6 py-3">Actions</th>
                    </tr>
                </thead>

                <tbody>
                {% for appointment in appointments %}
                    <tr
                        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}
                        </th>
                        <td class="px-6 py-4 px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Dr. {{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }}</td>
                        <td class="px-6 py-4">{{ appointment.doctor.specialization }}</td>
                        <td class="px-6 py-4">{{ appointment.date }}</td>
                        <td class="px-6 py-4">{{ appointment.time }}</td>
                        <td class="px-6 py-4">{{ appointment.patient.medical_history }}</td>
                        <td class="flex items-center px-6 py-4">
                            
                            <a href="/print/{{appointment.id}}" target="_blank"
                                class="font-medium text-green-600 dark:text-green-500 hover:underline ms-3">Print</a>
                            <a href="/delete/{{appointment.id}}"
                                class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3" onclick="return confirm('Are you sure you want to Cancel this appointment?')">Cancel</a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock content %}
